*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    background:radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
main{
    width: 70vh;
    margin: auto;
}
.banner{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    justify-content: space-between;
}
.score{
    align-content: flex-end;
    background-color: #fff;
    color: hsl(229, 64%, 46%);
    border-radius: 10%;
    padding: 0 1rem;
}
.score p{
    padding-top: .5rem;
    font-weight: 700;
}
.scoreCount{
    font-size: 3rem;
    font-weight: 700;
    color: black;
}


.triangle{
    transform: translateY(-350px);
    animation-name: animatetop;
    animation-duration: 3s
}

.icons{
    z-index: 1;
    display: grid;
    grid-template-areas: 
    "p s"
    "r r";
}

.rock, .paper, .scissors {
    background-color: white;
    border-radius: 50%;
    padding: 2rem;
    background: radial-gradient(#f7f7f7, #f4f4f7, #5c5b5b );
    margin: auto;
    z-index: 1;
    animation-name: animatetop;
    animation-duration: 5s
}

.rock{
    margin-top:7rem;
    grid-area:r ;
    border: 0.8rem solid  hsl(349, 71%, 52%);

}

.paper{
    grid-area: p;
    border: 0.8rem solid hsl(230, 89%, 62%) ;

}

.scissors{
    grid-area: s;
    border: 0.8rem solid  hsl(40, 84%, 53%);

}

div{
    padding-top: 2rem;
}

.play{
    padding: 5px;
    width: 20rem;
    font-size: 1.2rem;
}
aside {
    position: relative;
    bottom: 1rem;
    right: 10rem;
}
.rules button{
    width: 10vw;
    float: right;
    border-radius: 10px;
    border: 2px solid hsl(217, 16%, 45%);
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 0.6rem;
}

.hidden{
    display: none;
}
.modal {    
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
  
  /* Modal Content */
.modal-content {
    height: auto;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40vw;
    border-radius: 7px;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(247, 77, 106);
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    /* background: linear-gradient(90deg ,#937af0, #e47483, #f3ea6cd3) ; */
    background: transparent;
    color: rgb(0, 0, 0);
}
  
.modal-body {
    padding: 60px 16px;
}

.title{
    padding-top: .9rem;
    float: left;
    font-size: 1rem;
}
